* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

ul li {
  list-style: none;
}

input {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: " "
}

.clearfix:after {
  clear: both
}

.bg-img {
  background-position: center center;
  background-size: cover;
}
